<!doctype html>
<html>

<head>
  <title>USocketNet - Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="./assets/js/jquery.min.js"></script>
  <script src="./assets/js/popper.min.js"></script>
  <script src="./assets/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="./assets/css/fontawesome.min.css">

  <script type="text/javascript">
    var page = 'error';
  </script>
  <style>
    html,
    body {
      height: 100%;
    }

    body {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      padding-top: 40px;
      padding-bottom: 40px;
      background-color: #f5f5f5;
    }

    .alert {
      width: 290px;
      margin: 20px auto;
    }
  </style>
</head>

<body class="text-center">

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <img src="./assets/img/logo.png" alt="" width="220" height="220">
        <div class="alert alert-danger" role="alert">
          <strong>SOMETHING WENT WRONG</strong>
          <p>
            Check your request or maybe! an error had occured on your demoguy server! Please check your demoguy pm2 log.
          </p>
        </div>
      </div>
    </div>
  </div>

</body>

</html>