<html>

<head>
    <title>Store Locator</title>
    <style>
        #map {
            height: 100%;
        }

        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body>
    <!-- The div to hold the map -->
    <div id="map"></div>

    <script>

        // #region Fields
        const apiKey = 'YOUR_API_KEY';
        const map_div = document.getElementById('map');
        const map_zom = 15;
        const map_ctr = {
                    lat: 14.3297429,
                    lng: 121.0400522
                };
        
        // #endregion

        // #region Data
        const storeData = {
            "type": "FeatureCollection",
            "features": [
                {
                    "geometry": {
                        "type": "Point",
                        "coordinates": [121.0428738,14.3306265]
                    },
                    "type": "Feature",
                    "properties": {
                        "category": "foods",
                        "hours": "10am - 6pm",
                        "description": "Modern twists on classic pastries. We're part of a larger chain of foodss and cafes.",
                        "name": "Josie's foods Mayfair",
                        "phone": "+44 20 1234 5678",
                        "storeid": "01"
                    }
                },
                {
                    "geometry": {
                        "type": "Point",
                        "coordinates": [121.0428738,14.3306265]
                    },
                    "type": "Feature",
                    "properties": {
                        "category": "foods",
                        "hours": "10am - 6pm",
                        "description": "Come and try our award-winning cakes and pastries. We're part of a larger chain of foodss and cafes.",
                        "name": "Josie's foods Bristol",
                        "phone": "+44 117 121 2121",
                        "storeid": "02"
                    }
                },
                {
                    "geometry": {
                        "type": "Point",
                        "coordinates": [121.04164,14.3302939]
                    },
                    "type": "Feature",
                    "properties": {
                        "category": "foods",
                        "hours": "10am - 6pm",
                        "description": "Whatever the occasion, whether it's a birthday or a wedding, Josie's foods has the perfect treat for you. We're part of a larger chain of foodss and cafes.",
                        "name": "Josie's foods Norwich",
                        "phone": "+44 1603 123456",
                        "storeid": "03"
                    }
                },
                {
                    "geometry": {
                        "type": "Point",
                        "coordinates": [121.0490966,14.3335163]
                    },
                    "type": "Feature",
                    "properties": {
                        "category": "foods",
                        "hours": "10am - 6pm",
                        "description": "A gourmet foods that will delight your senses. We're part of a larger chain of foodss and cafes.",
                        "name": "Josie's foods Wimborne",
                        "phone": "+44 1202 343434",
                        "storeid": "04"
                    }
                },
                {
                    "geometry": {
                        "type": "Point",
                        "coordinates": [121.0395372,14.3238489]
                    },
                    "type": "Feature",
                    "properties": {
                        "category": "foods",
                        "hours": "10am - 6pm",
                        "description": "Spoil yourself or someone special with our classic pastries. We're part of a larger chain of foodss and cafes.",
                        "name": "Josie's foods Liverpool",
                        "phone": "+44 151 444 4444",
                        "storeid": "05"
                    }
                },
                {
                    "geometry": {
                        "type": "Point",
                        "coordinates": [121.0347521,14.3305329]
                    },
                    "type": "Feature",
                    "properties": {
                        "category": "foods",
                        "hours": "10am - 6pm",
                        "description": "Come and feast your eyes and tastebuds on our delicious pastries and cakes. We're part of a larger chain of foodss and cafes.",
                        "name": "Josie's foods Tamworth",
                        "phone": "+44 5555 55555",
                        "storeid": "06"
                    }
                },
                {
                    "geometry": {
                        "type": "Point",
                        "coordinates": [121.0383248,14.3326431]
                    },
                    "type": "Feature",
                    "properties": {
                        "category": "foods",
                        "hours": "10am - 6pm",
                        "description": "Josie's foods is family-owned, and our delectable pastries, cakes, and great coffee are renowed. We're part of a larger chain of foodss and cafes.",
                        "name": "Josie's foods Cardiff",
                        "phone": "+44 29 6666 6666",
                        "storeid": "07"
                    }
                },
                {
                    "geometry": {
                        "type": "Point",
                        "coordinates": [121.0463392,14.320907]
                    },
                    "type": "Feature",
                    "properties": {
                        "category": "cafe",
                        "hours": "8am - 9:30pm",
                        "description": "Oakham's favorite spot for fresh coffee and delicious cakes. We're part of a larger chain of foodss and cafes.",
                        "name": "Josie's Cafe Oakham",
                        "phone": "+44 7777 777777",
                        "storeid": "08"
                    }
                },
                {
                    "geometry": {
                        "type": "Point",
                        "coordinates": [121.0463392,14.320907]
                    },
                    "type": "Feature",
                    "properties": {
                        "category": "cafe",
                        "hours": "8am - 9:30pm",
                        "description": "Enjoy freshly brewed coffe, and home baked cakes in our homely cafe. We're part of a larger chain of foodss and cafes.",
                        "name": "Josie's Cafe Blackburn",
                        "phone": "+44 8888 88888",
                        "storeid": "09"
                    }
                },
                {
                    "geometry": {
                        "type": "Point",
                        "coordinates": [14.320907,121.0463392]
                    },
                    "type": "Feature",
                    "properties": {
                        "category": "cafe",
                        "hours": "8am - 9:30pm",
                        "description": "A delicious array of pastries with many flavours, and fresh coffee in an snug cafe. We're part of a larger chain of foodss and cafes.",
                        "name": "Josie's Cafe Crawley",
                        "phone": "+44 1010 101010",
                        "storeid": "10"
                    }
                }
            ]
        }
        // #endregion

        // #region Style
        const mapStyle = [{
                'featureType': 'administrative',
                'elementType': 'all',
                'stylers': [{
                        'visibility': 'on',
                    },
                    {
                        'lightness': 33,
                    },
                ],
            },
            {
                'featureType': 'landscape',
                'elementType': 'all',
                'stylers': [{
                    'color': '#f2e5d4',
                }],
            },
            {
                'featureType': 'poi.park',
                'elementType': 'geometry',
                'stylers': [{
                    'color': '#c5dac6',
                }],
            },
            {
                'featureType': 'poi.park',
                'elementType': 'labels',
                'stylers': [{
                        'visibility': 'on',
                    },
                    {
                        'lightness': 20,
                    },
                ],
            },
            {
                'featureType': 'road',
                'elementType': 'all',
                'stylers': [{
                    'lightness': 20,
                }],
            },
            {
                'featureType': 'road.highway',
                'elementType': 'geometry',
                'stylers': [{
                    'color': '#c5c6c6',
                }],
            },
            {
                'featureType': 'road.arterial',
                'elementType': 'geometry',
                'stylers': [{
                    'color': '#e4d7c6',
                }],
            },
            {
                'featureType': 'road.local',
                'elementType': 'geometry',
                'stylers': [{
                    'color': '#fbfaf7',
                }],
            },
            {
                'featureType': 'water',
                'elementType': 'all',
                'stylers': [{
                        'visibility': 'on',
                    },
                    {
                        'color': '#acbcc9',
                    },
                ],
            },
        ];
        // #endregion
        
        function initMap() {

            // Create the map.
            const map = new google.maps.Map(map_div, {
                zoom: map_zom,
                center: map_ctr,
                styles: mapStyle,
            });

            // Load the stores GeoJSON onto the map.
            map.data.loadGeoJson('assets/js/location.json', {
                 idPropertyName: 'storeid'
            });

            // map.data.loadGeoJson(storeData, {
            //     idPropertyName: 'storeid'
            // });

            // Define the custom marker icons, using the store's "category".
            map.data.setStyle((feature) => {
                return {
                    icon: {
                        url: `assets/img/pins/${feature.getProperty('category')}.png`,
                        scaledSize: new google.maps.Size(64, 64),
                    },
                };
            });

            // TODO: Marker Cluster!

            // Show the information for a store when its marker is clicked.
            map.data.addListener('click', (event) => {
                const avatar = 'https://pasabuy.app/wp-content/uploads/2020/08/Logo-PasaBuyNoText.png';
                const category = event.feature.getProperty('category');
                const name = event.feature.getProperty('name');
                const description = event.feature.getProperty('description');
                const hours = event.feature.getProperty('hours');
                const phone = event.feature.getProperty('phone');
                const position = event.feature.getGeometry().get();

                const content = `
                    <div style="padding: 10px 20px;">
                        <h3><img src="${avatar}" style="width: 18px;"/> ${name}</h3>
                        <p>${description}</p>
                        <p><b>Open:</b> ${hours}<br/><b>Phone:</b> ${phone}</p>
                    </div>
                `;

                infoWindow.setContent(content);
                infoWindow.setPosition(position);
                infoWindow.setOptions({
                    pixelOffset: new google.maps.Size(0, -30)
                });
                infoWindow.open(map);
            }); const infoWindow = new google.maps.InfoWindow();
        }
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places&callback=initMap">
    </script>
</body>

</html>